{% extends 'basic/base.html' %}
{% load static %}

{% block content %}

<!--  services section -->
<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h3 class="title-big mw-100">Explore solutions</h3>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-md-4 mt-3">
                    <p>Gives you all you require to begin your site today. </p>
                </div>
                <div class="col-lg-3 text-lg-right mt-lg-0 mt-3">
                    <a href="#allservices" class="btn btn-primary btn-style">View all services</a>
                </div>
            </div>
            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#allservices" class="d-block zoom"><img src="{% static 'assets/images/blog3.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <h4><a href="#allservices">I T Support</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#allservices" class="d-block zoom"><img src="{% static 'assets/images/s3.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <h4><a href="#allservices">Digital Product</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#allservices" class="d-block zoom"><img src="{% static 'assets/images/s4.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <h4><a href="#allservices">Business Software</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--  //services section -->
<!-- services page services section -->
<section class="w3l-services" id="core">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h6 class="title-small">Core Values</h6>
                    <h3 class="title-big mx-0">Best Featured Services We Serve to all</h3>
                    <p class="mt-md-4 mt-3">our qualities are the arrangement of core values and major convictions
                         that help a gathering of individuals work altogether and work toward a typical business
                          objective.  </p>
                    <p class="mt-3">These qualities are regularly identified with business connections, client connections,
                        and friends development</p>
                    <a href="{% url 'contact' %}" class="btn btn-primary btn-style mt-md-5 mt-4 mr-2">Contact Us</a>
                    <a href="{% url 'about' %}"  class="btn btn-outline-primary btn-style mt-md-5 mt-4">Learn More</a>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="row features4-grids">
                        <div class="col-md-6">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-desktop" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#why">Keep your values unique</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-lg-0 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-sign-language" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#why">Lead with your vision statement</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-ravelry" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#why">We dare to design the future</a></h5>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid">
                                <div class="feature-images">
                                    <span class="fa fa-bullhorn" aria-hidden="true"></span>
                                </div>
                                <h5><a href="#why">Digital Product Development</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services page services section -->
 <section class="w3l-bottom-grids-6 py-5" id="allservices">
        <div class="container py-lg-5 py-md-4 py-2">
            <h6 class="title-small text-center">Our Services </h6>
            <h3 class="title-big mb-md-5 mb-4 text-center">Exclusive Services for our Clients
                from <a href="{% url 'home' %}">Insomniatic</a></h3>
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-laptop"></span>
                        <h4><a href="#why" class="title-head">Digital Products</a></h4>
                        <p>We offer a variety of web development</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-users"></span>
                        <h4><a href="#feature" class="title-head"> Experienced Team</a></h4>
                        <p>We have a skilled <br> crew.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-tasks"></span>
                        <h4><a href="#why" class="title-head">Latest Technologies</a></h4>
                        <p>We are using cutting-edge technologies.</p>

                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-cogs"></span>
                        <h4><a href="#feature" class="title-head">Expert Solutions</a></h4>
                        <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-database"></span>
                        <h4><a href="#feature" class="title-head">Business Service</a></h4>
                        <p>We are a digital service provider.</p>

                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-line-chart"></span>
                        <h4><a href="#feature" class="title-head">Visual Strategies</a></h4>
                        <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-home"></span>
                        <h4><a href="#feature" class="title-head">Digital Startups</a></h4>
                        <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-cubes"></span>
                        <h4><a href="#feature" class="title-head">Industry insights</a></h4>
                        <p>Vivamus etut justo amet, ultrices in. Duis dolor.</p>

                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- //bottom-grids-->
<section class="w3l-bottom py-5">
    <div class="container">
        <div class="subscribe">
            <div class="row">
                <div class="col-lg-9 header-section mx-auto">
                    <h3 class="title-big mx-0 mw-100">Please do not hesitate to contact us.</h3>
                </div>
                <div class="col-lg-3 mt-lg-0 mt-4 align-self text-lg-right">
                    <a href="{% url 'contact' %}" class="btn btn-info btn-style">Please get in touch with us.</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}