{% extends 'basic/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}

<div class="content-section" xmlns="http://www.w3.org/1999/html">
  <div class="container">
<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Join Today!</legend>
    {{ form|crispy }}
  </fieldset>
  <small class="text-muted ml-2">By signing up, you agree to <a href="{% url 'home' %}">Insomniatic</a>'s 
    <a href="{% url 'terms-of-use' %}">Terms of Use,User Policy</a>
 </small>
<br>
 <button type="submit" class="btn btn-outline-success">Sign Up</button>
</form>
    </div>
    <hr>
    <h5 style="text-align: center">Or</h5>
<hr>
     <a style="color:#DD4B39" href="#" class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span> Sign in with Google
  </a>
     <a style="color:#3B5998" href="#" class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>
  <div class="border-top pt-3">
    <div class="alert alert-success" role="alert">
  Already Have An Account?<a href="{% url 'login' %}" class="alert-link"> Log In</a>
</div>

</div>


{% endblock content %}